{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Create
{% endblock %}

{% block body %}
    <h1>Add Article</h1>
    {% if  error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {% for row in form  %}
            <div class="form-field">
                {{ row.label }}
                {{ row }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-2" value="Create" />
    </form>
    <div class="mt-5"></div>
{% endblock %}